body {
	padding: 0 30px 30px 30px;
}
.row.demo {
	background: #f2f2f2;
	margin-bottom: $gutter;
	.columns, .block-grid > li {
		background: #ddd;
		border: 1px solid #ccc;
		font-size: 12px;
		overflow: hidden;
		padding: $gutter;
	}
}
.block-grid {
	margin: 0;
}
header {
	h1 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.sub-heading {
		color: #999;
		margin-top: 0;
	}
}